body {
	margin: 0;
	padding: 0;
	background: #303030;
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	width: 90vw;
	margin: 5vh auto 0 auto;
	display: flex;	
	background: transparent;
	font-size: 100px;
}

.header {
	width: 100vw;
	padding: 1.875rem;
	background: gray;
}

ul {
	list-style: none;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

li {
	margin-left: 20px;
	font-size: 30px;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}